.lights {
    display: block;
    position: relative;
    margin: 15px 0;
    width: 100%;
    text-align: center;

    .subtitle {
        display: inline-block;
        width: 30%;
    }

    .btn {
        display: inline-block;
        margin-right: 15px;
    }

    &__item {
        display: block;
        width: 100%;
        text-align: left;
    }

}
