/* COLORS */

$bg-color:    #fbfbfb;

$input-border-color:    #ccccc7;

$tab-bg-color-selected:    #f0f0f0;

$title-color:    #424E5A;
$text-color:    #736f82;
$text-light-color:    #888888;

$login-bg-color:    #4A4A4A;

$menu-left-width:    6.8em;
$menu-left-widthMax:    27em;
$menu-bg-color:    #303243;
$menu-sep-color:    #202232;
$menu-item-over:    #404354;
$menu-item-selected:    #fbfbfb;
$menu-picto-selected:    #333333;
$menu-picto-over:    #fbfbfb;

$btn-main-bg-color: #ff3366;
$btn-main-bg-over: #ff5588;
$btn-form-bg-color: #404354;
$btn-form-bg-over: #404354;
$btn-border-color: #e5e6e9;
$btn-border-over: #cccccc;